{% extends 'app/base.html' %} {% load static %}
<br />
{% block title %}About {% endblock title %}
<br />
{% block main-content %}
<div class="container mt-3">
  <br />
  <h2 class="text-center">About Us</h2>
  <br />
  <div class="row container">
    <p class="fs-4 text-center">
      bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
      bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
      bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
      bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla
    </p>
  </div>
  <br /><br />
  <h2 class="text-center">Missin</h2>
  <br>
  <div class="text-center">
    <p class="fs-4 text-center">
        bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla 
    </p>
  </div>
</div>
{% endblock main-content %}
