{% extends 'app/base.html' %} {% load static %}
<br />
{% block title %}Password Changed{% endblock title %}
<br />
{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-sm-6 offset-sm-3 text-center">
      <h3 class="pb-4">Password Resetted Successfuy!</h3>
      <hr />
      <div>
        <iframe
          src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk"
          width="200"
          height="200"
          frameborder="0"
          class="giphy-embed"
          allowfullscreen
          style="pointer-events: none"></iframe>
      </div>
      <p class="text-center text-primary fw-bold">
        Back To
        <a
          href="{% url 'login' %}"
          class="text-danger">
          Login</a
        >
        Page
      </p>
    </div>
  </div>
</div>
{% endblock main-content %}
